.contactItem {
  width: 100%;
  height: 70px;
  padding: 8px;
  margin-bottom: 8px;
  border: 0.5px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: lightblue;
  }

  .contactAvatar {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 50%;
    border: 0.5px solid black;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contactDetails {
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .contactName,
    .contactMssg {
      width: 100%;
      /* border: 0.5px solid black; */
      display: flex;
      justify-content: space-between;
    }
  }
  .contactDetails span {
    font-size: 12px;
  }
}
.contactName {
  .c-name {
    font-size: 20px;
    font-weight: 500;
  }
}
.contactMssg {
  .c-lastMssg {
    font-size: 14px;
    color: gray;
  }
  .c-unread {
    padding: 2px 4px;
    background-color: blue;
    color: white;
    border-radius: 8px;
  }
}
